.ipynb_checkpoints/**
resnet18_default.pth
vgg16_trained.pth
resnet50_default.pth
basic_model.pth
data/**
__pycache__/**
baseline/data/**
baseline/__pycache__/
baseline/models/__pycache__/
baseline/resnet_50_weighted.pth
baseline/resnet_50_cpretrained.pth
baseline/data/**
Simclr_model/__pycache__/**
SIMCLR/**
.DS_Store
results/pre_trained_simclr.pth
results/trained_simclr.pth
baseline/resnet_50_cpretrained.pth
baseline/resnet_50_weighted.pth